@model stars_in_a_box.Models.Star.Star

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Star name
            </th>
            <th>
                Luminocity
            </th>
            <th>
                Star diameter
            </th>
            <th>
                Mass
            </th>
            <th>
                Rotation velocity (at equator)
            </th>
            <th>
                Surface temperature
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.luminosity) in solar luminosities
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.diameter) in soalr radii
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.mass) in solar masses
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.rotation) km/s
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.surfaceTemperature) K
            </td>
        </tr>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StarID">Edit</a> |
</div>
