@model IEnumerable<stars_in_a_box.Models.Star.Star>
@{
    ViewData["Title"] = "Stars";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Star name
            </th>
            <th>
                Luminocity
            </th>
            <th>
                Star diameter
            </th>
            <th>
                Mass
            </th>
            <th>
                Rotation velocity (at equator)
            </th>
            <th>
                Surface temperature
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.luminosity) in solar luminosities
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diameter) in soalr radii
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mass) in solar masses
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rotation) km/s
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surfaceTemperature) K
            </td>
        </tr>
}
    </tbody>
</table>
